
#foundation{
background-image:url(/images/Fonts.JPG);/* Путь к фоновому изображению */
background-repeat:no-repeat;
background-position:center;
width: 1260px;
height:1000px;
border: 1px solid black  ;
margin: 0px auto ;
font-family: Geneva, Arial, Helvetica, sans-serif;

}
#menu {
width: 600px;
height:30px;
border: 0px solid black  ;
margin: 10px auto ;
background-color: rgba(255, 255, 255, 0.2); 
}
#menu li{
list-style-type: none;
float:left;
padding-left:20px
}
#menu a{
font-size: 20px ;
color:FFF;
}
.home_text{
font-size: 28px ;
color:#100ff;
width:670px;
margin:0 auto;
text-align:  center;
background-color: rgba(255, 255, 255, 0.5); 
}
.news{
width: 600px;
height:auto;
margin: 10px auto ;
background-color: rgba(255, 255, 255, 0.2); 
list-style-type: none;
}
.news a{
font-size: 20px ;
color:FFF;

}
.news_text{
font-size:15px;
}
.breadcrumbs {
width: 600px;
height:auto;
margin: 10px auto ;
background-color: rgba(255, 255, 255, 0.2);
}
#return{
margin-top:auto;
margin-left:120px ;
margin-right:120px;
border: 2px solid black ;
border-radius: 90px 90px 90px 90px;
float:top;
padding:3px;
background-color: rgba(255, 255, 255, 0.8);
text-align: center
}